.croppie-container {
    width: 100%;
    height: 100%;
}

.croppie-container .cr-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    max-height: none;
    max-width: none;
}

.croppie-container .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.croppie-container .cr-viewport,
.croppie-container .cr-resizer {
    position: absolute;
    border: 2px solid #fff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.croppie-container .cr-resizer {
  z-index: 2;
  box-shadow: none;
  pointer-events: none;
}

.croppie-container .cr-resizer-vertical,
.croppie-container .cr-resizer-horisontal {
  position: absolute;
  pointer-events: all;
}

.croppie-container .cr-resizer-vertical::after,
.croppie-container .cr-resizer-horisontal::after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
    background: #fff;
    width: 10px;
    height: 10px;
    content: '';
}

.croppie-container .cr-resizer-vertical {
  bottom: -5px;
  cursor: row-resize;
  width: 100%;
  height: 10px;
}

.croppie-container .cr-resizer-vertical::after {
    left: 50%;
    margin-left: -5px;
}

.croppie-container .cr-resizer-horisontal {
  right: -5px;
  cursor: col-resize;
  width: 10px;
  height: 100%;
}

.croppie-container .cr-resizer-horisontal::after {
    top: 50%;
    margin-top: -5px;
}

.croppie-container .cr-original-image {
    display: none;
}

.croppie-container .cr-vp-circle {
    border-radius: 50%;
}

.croppie-container .cr-overlay {
    z-index: 1;
    position: absolute;
    cursor: move;
    touch-action: none;
}

.croppie-container .cr-slider-wrap {
    width: 75%;
    margin: 15px auto;
    text-align: center;
}

.croppie-result {
    position: relative;
    overflow: hidden;
}

.croppie-result img {
    position: absolute;
}

.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/

.cr-slider {
    -webkit-appearance: none;
/*removes default webkit styles*/
	/*border: 1px solid white; *//*fix for FF unable to apply focus style bug */
    width: 300px;
/*required for proper track sizing in FF*/
    max-width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
}

.cr-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 3px;
}

.cr-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}

.cr-slider:focus {
    outline: none;
}
/*
.cr-slider:focus::-webkit-slider-runnable-track {
background: #ccc;
}
*/

.cr-slider::-moz-range-track {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 3px;
}

.cr-slider::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}

/*hide the outline behind the border*/
.cr-slider:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

.cr-slider::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	border-color: transparent;/*leave room for the larger thumb to overflow with a transparent border */
	border-width: 6px 0;
	color: transparent;/*remove default tick marks*/
}
.cr-slider::-ms-fill-lower {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.cr-slider::-ms-fill-upper {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.cr-slider::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ddd;
	margin-top:1px;
}
.cr-slider:focus::-ms-fill-lower {
	background: rgba(0, 0, 0, 0.5);
}
.cr-slider:focus::-ms-fill-upper {
	background: rgba(0, 0, 0, 0.5);
}
/*******************************************/

/***********************************/
/* Rotation Tools */
/***********************************/
.cr-rotate-controls {
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 1;
}
.cr-rotate-controls button {
	border: 0;
	background: none;
}
.cr-rotate-controls i:before {
	display: inline-block;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
}
.cr-rotate-l i:before {
	content: '\21BA';
}
.cr-rotate-r i:before {
	content: '\21BB';
}
@charset "UTF-8";

.br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}

.br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 18px;
  width: 18px;
  float: left;
  font-size: 23px;
  margin-right: 5px;
}

.br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: #d2d2d2;
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: #ffec00;
}

.br-theme-css-stars .br-widget a.br-selected:after {
  color: #ffec00;
}

.br-theme-css-stars .br-widget .br-current-rating {
  display: none;
}

.br-theme-css-stars .br-readonly a {
  cursor: default;
}

@media print {
  .br-theme-css-stars .br-widget a:after {
    content: "\2606";
    color: black;
  }

  .br-theme-css-stars .br-widget a.br-active:after,
  .br-theme-css-stars .br-widget a.br-selected:after {
    content: "\2605";
    color: black;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.btn-info,
.btn-app-info {
  background-color: #0a7d96;
  border-color: #0a7d96;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.btn-app-info:hover {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.sidebar {
  background-color: #0a7d96;
}

.sidebar .children {
  background: #116b79;
  box-shadow: inset 0 1px 5px 0 rgba(15, 71, 79, 0.3);
}

.sidebar .nav-title {
  color: #FFFFFF;
}

.sidebar .nav-link {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.sidebar .nav-link i:first-of-type {
  color: #FFFFFF;
}

.sidebar .nav-dropdown.open .nav-dropdown-items {
  background-color: #0F8395;
}

.has-error .form-control {
  border: 1px solid #C41500;
}

.has-error label,
.has-error .help-block {
  color: #C41500;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(195, 195, 195, 0.5);
}

.card .card-header {
  background-color: #5dc7db;
}

.page-header {
  background-color: #fff;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

html,
body {
  background: #fafafa;
  font-family: "Poppins", sans-serif;
}

.navbar .navbar-brand-mobile {
  width: 36px;
  margin-right: 10px;
}

.dime_row .dime_counter {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.dime_row .dime_desc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.card {
  border: 0px solid transparent;
  box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
}

.card .card-header-info {
  border-bottom: 1px solid rgba(212, 212, 212, 0.5);
  background-color: #0a7d96 !important;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.card .card-header-info .header_text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #FFFFFF;
}

.card .card-header-lite {
  border-bottom: 1px solid rgba(212, 212, 212, 0.5);
  background-color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.card .card-header-lite .header_text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.card .card_search {
  background: #fff;
  border: 0px solid transparent;
}

.app-btn-danger {
  box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
  background-color: #ff2828;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.app-btn-info {
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  background-color: #0a7d96;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.app-card-header {
  color: #FFFFFF;
  font-weight: 600;
  background-color: #0a7d96 !important;
}

.dash-heading {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.sidebar {
  background-color: #0a7d96;
}

.sidebar .nav-title {
  color: #FFFFFF;
  font-weight: 600;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover i {
  color: #FFFFFF;
  font-weight: 500;
}

.sidebar .nav-link i:first-of-type,
.sidebar .nav-link {
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar .nav-dropdown.open .nav-dropdown-items {
  max-height: 1000px !important;
  background-color: #0a7d96;
}

.sidebar-nav::-webkit-scrollbar {
  width: 12px;
}

.sidebar-nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

​ .super-header {
  background-color: #0a7d96;
  color: #fff;
}

.btn-primary {
  background: #0a7d96;
  border: 1px solid #0a7d96;
  color: #FFFFFF;
  font-weight: 600;
}

.btn-primary:hover {
  background: #0a7d96;
  border: 1px solid #0a7d96;
  color: #FFFFFF;
}

.has-error .form-control {
  border: 1px solid #C82501;
  color: #C82501;
}

.has-error .help-block {
  color: #C82501;
}

.balance_dimer {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.37);
}

.dimer_desc_grey {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.37);
}

.dashboard_home_new_prod_txt {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.status-btn {
  border: 0px solid transparent;
}

.status-btn.pending {
  background-color: #f5a623;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.status-btn.complete {
  background-color: #7ed321;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.status-btn.failed {
  background-color: #ff2828;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.user_order_table tbody tr:not(.cart_item-detail) {
  background-color: rgba(216, 216, 216, 0.38);
  margin-bottom: 3px;
  border-bottom: 2px solid #fff;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.user_order_table tbody tr td {
  padding: 5px 10px !important;
}

.user_order_table thead tr th {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

._delivery_status {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a7d96;
}

._cart_items_expand {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._cart_items_expand:hover {
  color: #000000;
  text-decoration: none;
}

.user_order_table tbody .cart_item-detail {
  border: 1px solid rgba(151, 151, 151, 0.38);
}

.user_order ._cart_item_div_title {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

._item_product_desc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._item_product_shipping_desc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

._order_item_filter_select_input,
._order_item_filter {
  border: 1px solid rgba(151, 151, 151, 0.38);
  background: transparent;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._order_item_filter_select_input:focus {
  border: 1px solid rgba(151, 151, 151, 0.38);
}

.user_orders_pagination .pagination {
  justify-content: center;
}

._saved_item_table thead tr th {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

._saved_item_table thead tr th:not(:first-child) {
  color: #000000;
  text-transform: capitalize;
}

._saved_item_table thead tr th:first-child {
  color: #4a4a4a;
}

._saved_item_table thead {
  background-color: #fff;
  border-bottom: 1px solid rgba(216, 216, 216, 0.38);
  box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
}

._saved_item_table tbody {
  /* border-left: 1px solid rgba(151, 151, 151, 0.38);
   border-right: 1px solid rgba(151, 151, 151, 0.38);
   border-bottom: 1px solid rgba(151, 151, 151, 0.38);*/
  box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
}

._saved_item_table .saved_item_prod_name {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._saved_item_table .saved_item_prod_seller {
  font-size: 12px;
  font-weight: normal;
  color: #9b9b9b;
}

._saved_item_table .cart_delete_order_link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dc0909;
}

._saved_item_table .saved_item_price {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart_shipping_zone_header {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header_bottom {
  border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.shipping_border-right {
  border-right: 1px solid rgba(151, 151, 151, 0.38);
}

.cart-shipping-header {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart-shipping-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

.shipping_detail_item_head {
  font-weight: 500;
}

.shipping_detail_item_emp {
  font-weight: 500;
  color: #000000;
}

.cart_ship_border_bottom {
  border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.shipping_fee,
.shipping_sub_total {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.shipping_total {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header2 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart_ship_listing {
  border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.ship_prod_name {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_prod_qty {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_prod_price {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.pay-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #000000;
}

.border-bottom-pay {
  border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.pay_with_text {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.shadowed-box {
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #0076ff;
}

.__change_address_link_style {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a7d96;
}

.__change_address_link_style:hover {
  color: #0a7d96;
}

.cart-address-header {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart-address-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
}

.__add_address_link a {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a7d96;
}

.__post_header_address_modal {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_modal_label {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_inp_grey {
  box-shadow: inset 0 1px 3px 0 rgba(155, 155, 155, 0.5);
  background-color: #dedede !important;
}

._ship_action_edit:hover,
._ship_action_edit {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a7d96;
}

._ship_action_delete:hover,
._ship_action_delete {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dc0909;
}

._pay_status_title {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

._pay_status_text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.text-store-product-count {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.37);
}

.text-store-product {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  text-transform: capitalize;
}

.text-store-product-link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1896a9;
  text-transform: capitalize;
}

.app-table thead tr th {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.app-table tbody tr td {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

.uk-search-input {
  background-color: #fff !important;
  width: 100% !important;
}

.app-btn-info {
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  border: 1px solid transparent !important;
  background-color: #1896a9;
  padding: 12px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.app-btn-danger {
  box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
  background-color: #ff2828;
  border: 1px solid transparent !important;
  padding: 12px;
  font-size: 14px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.app-btn-canva {
  box-shadow: 0 2px 4px 0 rgba(53, 53, 53, 0.5);
  background-color: #00687a;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.app-btn-canva:hover {
  color: #fff;
}

.uk-iconnav .table-btn-info {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #1896a9 !important;
}

.uk-iconnav .table-btn-info:hover,
.app-btn-info:hover,
.app-btn-danger:hover {
  color: #fff;
}

.uk-iconnav .app-icon-link {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
}

.btn-outline-light:hover {
  color: #000 !important;
}

.btn-radius {
  border-radius: 23px;
}

.uk-offcanvas {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin-top: 55px;
}

.uk-offcanvas-bar {
  background: #1896a9;
  color: white;
}

.uk-offcanvas-close {
  top: 0;
  left: 0;
}

.form-label {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.app-hide {
  display: none;
}

.image_radio > input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

.image_radio > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 0px solid transparent;
}

.image_radio > input:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 4px solid red;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
  display: none;
}

.upload-demo.ready .upload-demo-wrap {
  display: block;
}

.upload-demo.ready .upload-result {
  display: inline-block;
}

.upload-demo-wrap {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.upload-msg {
  text-align: center;
  padding: 50px;
  font-size: 16px;
  color: #fff;
  width: 200px;
  margin: 50px auto;
  border: 1px solid #fff;
}

.label-title {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.label-sub {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.tab-title {
  border: solid 1px rgba(151, 151, 151, 0.38);
  background-color: #f3f3f3;
  text-transform: uppercase;
}

.tab_form {
  border: 0px solid #fff;
  cursor: pointer;
}

.tab_form::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.tab_form:-ms-input-placeholder {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.tab_form::-ms-input-placeholder {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.tab_form::placeholder {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.tab_header_text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.header_file {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.text_desc_file {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.tab_header_sub {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.complete_title_text {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.text_complete_sub {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.wizard .steps ul {
  list-style: none;
  display: flex;
}

.wizard .steps ul .current-info {
  display: none;
}

.wizard .steps ul .number {
  display: none;
}

.wizard .steps ul li.current .check-ball {
  background-color: #1896a9;
  color: #fff;
}

.wizard .steps ul li {
  flex: 1;
  justify-content: space-between;
}

.wizard .content {
  margin-left: 0 !important;
  padding: 0px;
}

@media (max-width: 400px) {
  .wizard .steps ul {
    display: block;
    margin: 0;
  }

  .wizard .steps ul li {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
  }
}

.wizard .actions ul {
  list-style: none;
  width: 100%;
  text-align: right !important;
}

.wizard .actions ul li {
  display: inline-block;
  margin: 4px;
}

.wizard .actions ul li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  border: 1px solid #1896a9;
  background: #1896a9;
  border-radius: 0px;
  padding: 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.check-ball {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: #d8d8d8;
}

.active .check-ball {
  background-color: #1896a9;
  color: #fff;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

.btn-color input[type=checkbox] {
  display: none;
}

.btn-color {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  border: 0px solid #979797;
  background: #1896a9;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  padding: 0px 6px;
  position: relative;
}

.btn-color .product-color-ball + .color-icon {
  display: none;
}

.btn-color .product-color-ball:checked + .color-icon {
  display: block;
}

.btn-color .color-icon {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 34px;
  letter-spacing: normal;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
}

.btn-color:hover {
  cursor: pointer;
}

.btn-color.boxActive {
  border: 2px solid yellow;
}

._icon_desc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 5px;
}

.order_title {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.order_number {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.order_amount {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.buyer_text_title {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.buyer_text_name {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1896a9;
}

.order_table thead th,
.order_table tbody th,
.order_table tbody td {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
  border-top: 0px solid #dee2e6;
}

._order_req_title {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

._order_req_link {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1896a9;
}

.dropzone {
  min-height: 150px;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}

.gig-tab {
  border: solid 0px #b9b9b9;
  background-color: #ffffff;
}

.gig-tab .nav-tabs .nav-link {
  border-radius: 0px;
  font-size: 14px;
}

.gig-tab .nav-tabs .nav-link:not(.active) {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border-right: solid 1px #b9b9b9;
  background-color: #ececec;
  border-radius: 0px;
}

.tab-gig-price {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.tab-gig-desc {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.color-check {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1896a9;
}

.color-cancel {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #C82501;
}

.plan-card {
  border-radius: 0px;
}

.plan-card .card-header {
  border: solid 0px #dbdbdb;
  background-color: #ececec;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  border-radius: 0px;
}

.designer-top-card {
  box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
  background-color: #ffffff;
}

.chat-messages-box {
  height: 300px;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  .chat-messages-box {
    max-height: calc(100% - 105px);
  }
}

.chat-messages-box::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.chat-messages-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 735px) {
  .chat-messages-box {
    max-height: calc(100% - 105px);
  }
}

.chat-messages-box::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.chat-messages-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.chat-messages-box ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.chat-messages-box ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

.chat-messages-box ul li.sent .text-img {
  margin: 6px 8px 0 0;
}

.chat-messages-box ul li.sent .text-msg {
  background: #435f7a;
  color: #f5f5f5;
}

.chat-messages-box ul li.replies .text-img {
  float: right;
  margin: 6px 0 0 8px;
}

.chat-messages-box ul li.replies .text-msg {
  background: #f5f5f5;
  float: right;
}

.chat-messages-box ul li .text-img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

.chat-messages-box ul li .text-msg {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 300px;
  line-height: 130%;
}

.chat-messages-box ul li.sent .img-chat {
  display: inline-block;
  padding: 10px 15px;
}

.replies .chat-media {
  max-width: 100px;
  line-height: 130%;
  float: right;
}

.sent .chat-media {
  max-width: 100px;
  line-height: 130%;
  float: left;
}

.icon-chat {
  font-size: 20px;
  color: #ffffff;
}

@media screen and (min-width: 735px) {
  .chat-messages-box ul li .text-msg {
    max-width: 300px;
  }
}

.gig-media-title {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.gig-media-user {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.gig-list-header {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.gig-list-desc {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.card_head_nav_item {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.card_head_nav_item.active,
.card_head_nav_item:hover {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.usernames {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: capitalize;
}

.change_image_link {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.app-form {
  border: solid 1px #979797;
}

.app-form:focus {
  border: solid 1px #979797;
}

.app-label {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.wizardry-hide {
  display: none;
}

.wizardry-show {
  display: block;
}

.active_order_title {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.text-bold-order {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.btn-app-border {
  border-radius: 3px;
  border: solid 1px #0a7d96;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a7d96;
}

.btn-app-border:hover {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: solid 1px #0a7d96;
  background-color: #0a7d96;
}

.promote-product-name-title {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.promote-back-link:hover,
.promote-back-link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.bg-promotion-filter-result {
  background-color: #f7f7f7;
}

.bg-promotion-filter-result .text-con {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.text-con-muted {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

