@import url('~spectrum-colorpicker/spectrum.css');

@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Kranky');
@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.ToolBar{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 800;
    background: #fff;
    min-height: 30px;
}

.toolbarNav li .app-wide-color{
    width: 30px;
    height: 30px;
    border:1px solid #ccc;
    border-radius: 500px;
    cursor: pointer;
}
.toolbarNav li a{
    color: #666;
}

.toolbarNav li a span{
    font-size: 20px;
}

.cus-hide{
    display: none;
}