@import 'main.scss';
@import url('~dropzone/dist/dropzone.css');
@import url('~spectrum-colorpicker/spectrum.css'); 
@import '~bootstrap-slider/src/sass/bootstrap-slider';
@import '~bootstrap-tagsinput/src/bootstrap-tagsinput.css';

@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Kranky');
@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lobster');


#FontSelect,
#FontSelect optgroup option{
    font-size: 20px;
}

.monoton{
    font-family: 'Monoton', cursive;
    
}

.kranky{
    font-family: 'Kranky', cursive;
}

.girl_next{
    font-family: 'The Girl Next Door', cursive;
}

.fredrick{
    font-family: 'Fredericka the Great', cursive;
}

.press_start{
    font-family: 'Press Start 2P', cursive;
}

.cabin_sketch{
    font-family: 'Cabin Sketch', cursive;
}

.kurale{
    font-family: 'Kurale', serif;
}

.sigmar{
    font-family: 'Sigmar One', cursive;
}

.paytone{
    font-family: 'Paytone One', sans-serif;
}

.luckiest{
    font-family: 'Luckiest Guy', cursive;
}

.audiowide{
    font-family: 'Audiowide', cursive;
}

.vibes{
    font-family: 'Great Vibes', cursive;
}

.philosopher{
    font-family: 'Philosopher', sans-serif;
}

.plaster{
    font-family: 'Plaster', cursive;
}

.exo{
    font-family: 'Exo', sans-serif;
}

.dancing{
    font-family: 'Dancing Script', cursive;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}

.lobster{
    font-family: 'Lobster', cursive;
}

*{
    font-family: 'Poppins', sans-serif;
}

html, body{
    background: #fafafa;
    font-family: 'Poppins', sans-serif;
}

.btn{
    border-radius: 0px;
}

.btn-xs{
    padding:2px 4px; 
    font-size: 11px;

}

.btn-info{
    background: #1896a9;
}

.btn-info:focus{
    box-shadow: none;
    outline: none;
}

.btn-info-dark{
    background-color: #116b79;
    color: #fff;
}

.btn-info-dark:hover,
.btn-info-dark:focus{
    box-shadow: none;
    outline: none;
    color: #fff;
}
.btn-white{
    background: #fff;
    color: #0d6a78;
    font-weight: 600;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

.app-hide{
    display: none;
}

.app-form .form-control{
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #b8b8b8;
}

.app-form .form-control:focus{
    box-shadow: none;
    border: 1px solid #b8b8b8;
}

.app-form .form-control::placeholder{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
}

.middle-nav:not(.uk-navbar-transparent) {
    background-color: #ffffff;
}

.middle-nav .uk-navbar ul li a,
.middle-nav .uk-navbar .uk-navbar-item {
  min-height: 80px;
}
    
.text-link{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-transform: capitalize;
}

.text-link-auth:hover,
.text-link:hover{
    text-decoration: none;
    color: #1896a9;
}

.text-link-auth span{
 font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.text-link-auth-logged span{
    text-transform: capitalize;
}

.text-link-auth .uk-navbar-subtitle{
    font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.app-user-drop-down li a{
    min-height:30px !important;
}

.bg-designer-ads{
    padding-top:15px;
    padding-bottom:7px;
  background-color: #1896a9;
}

.bg-designer-ads p{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}

.btn-info-dk{
    background-color: #116b79;
    border-radius: 0px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.btn-info-dk:hover{
    color: #fff;
}

.card-brandable{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-transform: capitalize;
}

.card-brandable:hover{
    text-decoration: none;
    color: #000;
}

.app-sec-header.sec-center{
    text-align: center;
}

.app-sec-header.sec-left{
    text-align: left;
}

.app-sec-header .title{
    margin-bottom:5px;
    margin-top:1px;
    font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.app-sec-header .underline{
    height: 3px;
    width: 4%;
    background: #000000;
    margin: 0 auto;
    border-radius: 4px;
}

.app-sec-header .sub-title{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.app-sec-sub{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

/* customizer */

.features-list-item .text-t{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  margin-left: 20px;
  text-align: center;
}


.features-list-item span:first-child{
    font-size: 25px;
    text-align: left
}

.features-list-item:first-child {
     border-top-left-radius: 0rem; 
     border-top-right-radius: 0rem; 
}

.features-list-item:last-child{
    border-bottom-left-radius: 0rem; 
     border-bottom-right-radius: 0rem; 
}

.custom-layer-card .card-header{
    box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.5);
  background-color: rgba(15, 15, 15, 0.38);
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; 
  color: #ffffff;
  border-radius: 0px;
  text-align: left;
  text-transform: uppercase;
}

.custom-layer-card .card-header span{
    margin-right:16px;
    font-size: 24px;
}

.layer{
    border-radius: 5px;
    background-color: #ffffff;
    border:1px solid rgba(151, 151, 151, 0.38);
    padding:4px;  
    margin-bottom: 4px;
}

.layer:hover{
    cursor: move;
}

.layer .move-layer:hover{
    cursor: move;
}

.layer .delete-layer:hover{
    cursor: pointer;
}

.layer .icon-shade{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(74, 74, 74, 0.87);
}

.layer .layer-name{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}

.layer .layer-type{
    font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.right-task-item{
    background-color: #e9e9e9;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    padding: 1rem 2rem;
    
}

.right-task-item:not(:last-child){
    border-bottom: 2px solid rgba(151, 151, 151, 0.38);
}

.right-task-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0rem; 
    border-bottom-left-radius: 0rem; 
}
.right-task-item:first-child {
    border-top-left-radius: 0rem; 
    border-top-right-radius: 0rem; 
}

.color-title{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.color-sub-title{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}


.btn-color input[type="checkbox"]{
    display: none;
}

.btn-color{
    border-radius: 50%;
    height: 34px;
    width: 34px;
    border: 0px solid #979797;
    background: #fff;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    padding: 0px 6px;
    position: relative;
    
}

.btn-color .color-icon{
    font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 34px;
  letter-spacing: normal;
  color: #949494;
  position: absolute;
  left:0;
  right: 0;
}

.btn-color:hover{
    cursor: pointer;
}

.btn-color.boxActive{
    border: 2px solid yellow;
}

.product-select{
    border-radius: 0px;
    border: 1px solid #fff;
}

.product-select:focus{
    box-shadow: none;
    border: 1px solid #fff;
}

.page-hide{
    display: none;
}

.page-show{
    display: block;
}

.hide{
    display:none;
}

.CanvaDimension{
    position: absolute;
    background: #9C9C9C;
    padding: 2px; 
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0; 
    min-height: 5px;
   font-size: 10px;
}

.flip-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-container.flipped_front .flipper {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .flip-container.flipped_back .flipper {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .flipper {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
  }
  .flip-container {
    width: 530px;
    height: 630px;
    overflow: hidden;
  }
      
  .flip_front,
  .flip_back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
      
  .flip_front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .flip_back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .app-modal .uk-modal-header{
      background: #ffffff;
  }

  .app-modal .uk-modal-header .uk-modal-title{
      font-size: 16px;
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      color: #000000;
  }

  .app-modal .uk-modal-body .upload-instructions{
      font-size: 14px;
      color: rgb(74, 74, 74);
      text-align: center;
  }

  .dropzone{
      border-radius: 10px;
      border: 1px dashed #979797;
  }

  .upload-copyright{
    font-size: 12px;
    color: #000000;
  }

  .app-text-upload{
    font-size: 13px;
    color: rgb(74, 74, 74);
  }

  .template_single,
  .art_single{
      cursor: pointer;
  }

  .sell-card{
    border-radius: 0px;
    border: 0px solid #ffffff;
  }

.sell-card-title{
    font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  background: #fafafa;
}

._perc_title{
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.sell-label{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.form-control{
    border-radius: 0;
}

.form-control:focus{
    box-shadow: none;
}

.sell-select-grad{
    background-image: linear-gradient(to bottom, #ffffff, #e4e4e4);
}

.label-decs{
    font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.bg-toolbar{
    background-color: #ffffff;
}

.toolbar-label{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.selector{
  width: 120px;
  height: 38px;
  background-color: #fafafa;
  border: 0px solid #fafafa;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.make-pointer{
    cursor: pointer;
}

.deleteCartRow{
    color: red;
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.CartSizePaneSingle:not(:last-child){
    border-bottom: 1px solid #ccc;
}

.p-text-16{
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.p-text-14{
    font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.input-group-text{
    /*color: #495057;*/
    color: #000;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.bootstrap-tagsinput {
    border-radius: 0px;
    width: 100vw;
    height: 100px;
    line-height: 22px;
    cursor: text;
    margin-bottom: 10px;
  }

  .bootstrap-tagsinput .tag{
    display: inline-block;
    padding: 6px 8px !important;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
     border-radius: 0px;
  }