
.user_order_table tbody tr:not(.cart_item-detail){
    background-color: rgba(216, 216, 216, 0.38);
    margin-bottom:3px;
    border-bottom: 2px solid #fff;
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.user_order_table tbody tr td{
    padding: 5px 10px !important;
    
}

.user_order_table thead tr th
{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

._delivery_status{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
} 

._cart_items_expand{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._cart_items_expand:hover{
    color: #000000;
    text-decoration: none;
}

.user_order_table tbody .cart_item-detail{
    border: 1px solid rgba(151, 151, 151, 0.38);
}

.user_order ._cart_item_div_title{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

._item_product_desc{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._item_product_shipping_desc{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

._order_item_filter_select_input,
._order_item_filter{
    border:1px solid rgba(151, 151, 151, 0.38);
    background: transparent;
    outline: none;
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

._order_item_filter_select_input:focus{
    border:1px solid rgba(151, 151, 151, 0.38);
}

.user_orders_pagination .pagination{
    justify-content: center;
}

