._saved_item_table thead tr th{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

._saved_item_table thead tr th:not(:first-child){
    color: #000000;
    text-transform: capitalize;
}

._saved_item_table thead tr th:first-child{
    color: #4a4a4a;
}

._saved_item_table thead{
    background-color: #fff;
    border-bottom: 1px solid rgba(216, 216, 216, 0.38);
    box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
}

._saved_item_table tbody{
   /* border-left: 1px solid rgba(151, 151, 151, 0.38);
    border-right: 1px solid rgba(151, 151, 151, 0.38);
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);*/
    box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
}

._saved_item_table .saved_item_prod_name{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
._saved_item_table .saved_item_prod_seller{
    font-size: 12px;
  font-weight: normal;
  color: #9b9b9b;
}

._saved_item_table .cart_delete_order_link{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #dc0909;
}

._saved_item_table .saved_item_price{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
