.cart_shipping_zone_header{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header_bottom{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.shipping_border-right{
    border-right: 1px solid rgba(151, 151, 151, 0.38);
}

.cart-shipping-header{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart-shipping-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

.shipping_detail_item_head{
    font-weight: 500;
}

.shipping_detail_item_emp{
    font-weight: 500;
    color:#000000;
}

.cart_ship_border_bottom{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.shipping_fee,
.shipping_sub_total{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.shipping_total{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header2{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart_ship_listing{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.ship_prod_name{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_prod_qty{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_prod_price{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.pay-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #000000;
}

.border-bottom-pay{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.pay_with_text{
    font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.shadowed-box{
    box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #0076ff;
} 

.__change_address_link_style{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}

.__change_address_link_style:hover{
    color: $primary_color;
}

.cart-address-header{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart-address-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
}

.__add_address_link a{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}

.__post_header_address_modal{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_modal_label{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_inp_grey{
    box-shadow: inset 0 1px 3px 0 rgba(155, 155, 155, 0.5);
  background-color: #dedede !important;
}

._ship_action_edit:hover,
._ship_action_edit{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}
._ship_action_delete:hover,
._ship_action_delete{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dc0909;
}

._pay_status_title{
    font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

._pay_status_text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
