
    
@mixin app_text($color, $size, $weight) {
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color;
}

.text-store-product-count{
  @include app_text(rgba(0, 0, 0, 0.37),12px , 500);
}
.text-store-product{
  @include app_text(#000,14px , 500);
  text-transform: capitalize;
}
.text-store-product-link{
  @include app_text(#1896a9,14px , 500);
  text-transform: capitalize;
}

.app-table thead tr th{
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
    }

    .app-table tbody tr td{
        font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
    }

   .uk-search-input{
       background-color: #fff !important;
       width: 100% !important;
   }

   .app-btn-info{
    box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
    border: 1px solid transparent !important;
  background-color: #1896a9;
  padding: 12px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


.app-btn-danger{
    box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
  background-color: #ff2828;;
    border: 1px solid transparent !important;
  padding: 12px;
  font-size: 14px;
  @include app_text(#ffffff,14px , 500 )
}

.app-btn-canva{
    box-shadow: 0 2px 4px 0 rgba(53, 53, 53, 0.5);
  background-color: #00687a;
  @include app_text(#ffffff,14px , 500 )
}

.app-btn-canva:hover{
  color: #fff;
}
.uk-iconnav .table-btn-info{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #1896a9 !important;
}

.uk-iconnav .table-btn-info:hover,
.app-btn-info:hover,
.app-btn-danger:hover{
    color: #fff;
}

.uk-iconnav .app-icon-link{
    font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;

}

.btn-outline-light:hover{
    color: #000 !important;
}

.btn-radius{
    border-radius: 23px;
}

.uk-offcanvas {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    margin-top: 55px;
}

.uk-offcanvas-bar{
    background: #1896a9;
    color: rgb(255, 255, 255);
}

.uk-offcanvas-close{
    top:0;
    left:0;
}

.form-label{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.app-hide{
    display:none;
}

.image_radio > input{ /* HIDE RADIO */
visibility: hidden; /* Makes input not-clickable */
position: absolute; /* Remove input from document flow */
}
.image_radio > input + img{ /* IMAGE STYLES */
cursor:pointer;
border:0px solid transparent;
}
.image_radio > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
border:4px solid red;
}

@import '~croppie/croppie.css';

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;    
}
.upload-demo-wrap {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 16px;
    color: #fff;
    width: 200px;
    margin: 50px auto;
    border: 1px solid #fff;
}
